/* * {
  border: solid 1px black;
} */

html {
  font-size: 16px;
}
body {
  max-width: 1600px;
  text-align: center;
  background-color: white;
}
.pics {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 400px;
  align-content: center;
  background-color: #fee440;
}
.pic_size {
  padding-top: 50px;
  width: 80%;
  height: 80%;
}
.pics1 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(1, 400px);
  justify-content: center;
  background-color: #fee440;
}
.pic_size1 {
  padding-top: 50px;
  width: 80%;
  height: 80%;
}
.pics2 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 400px);
  align-content: center;
  background-color: #fee440;
}
.pic_size2 {
  padding-top: 50px;
  width: 80%;
  height: 80%;
}
.pics3 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 400px);
  align-content: center;
  background-color: #fee440;
}
.pic_size3 {
  padding-top: 50px;
  width: 80%;
  height: 80%;
}
.pics4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 400px);
  align-content: center;
  background-color: #fee440;
}

.pic_size4 {
  padding-top: 50px;
  width: 80%;
  height: 80%;
}

header {
  background-color: #f94144;
}
.text2 {
  margin-bottom: -17px;
  padding-bottom: 1px;
}
.text3 {
  background-color: #219ebc;
  margin-top: -20px;
  margin-bottom: -17px;
  padding-bottom: 1px;
}
.text4 {
  background-color: #219ebc;
  margin-bottom: -17px;
}
.text5 {
  background-color: #219ebc;
  margin-top: -20px;
  margin-bottom: -17px;
  padding-bottom: 1px;
}
.text6 {
  background-color: #219ebc;
  margin-top: -20px;
  margin-bottom: -17px;
  padding-bottom: 1px;
}
.text7 {
  background-color: #219ebc;
  margin-top: -20px;
  margin-bottom: -17px;
}
.text8 {
  background-color: #219ebc;
  margin-top: -20px;
  margin-bottom: -17px;
}
.text9 {
  background-color: #219ebc;
  margin-top: -20px;
}
.text10 {
  background-color: #f94144;
  margin-top: -18px;
  margin-bottom: -17px;
}
